.header {
  background: #000;
  color: #fff;
}

body {
  background-color: #333;
  color: #fff;
}

input, select, button {
  background-color: #333;
  color: #fff;
}

#dashboard {
  background-color: #333;
}

#dashboard > div {
  border-color: #535353;
}

#dashboard .title {
  background-color: #333;
}

.footer button {
  border-color: #fff;
  background-color: #333;
  color: #fff;
}

.footer button:hover {
  background-color: #fff;
  color: #333;
}

.remix button {
  border-color: #fff;
  color: #fff;
}

.remix button:hover {
  background-color: #fff;
}

#notSupported {
  background-color: red;
  color: white;
}

.timestamp {
  color: #8ec641;
}

#log {
  background-color: #000;
  color: #cecece;
}

#dashboard .battery-level .battery {
  border-color: #fff;
}

#dashboard .battery-level .battery:after {
  background: #fff;
}

#dashboard .play-button .button span:hover {
  border-left-color: #333;
}

.colorPicker .oned .pointer .shape {
  border-left-color: #fff;
  border-right-color: #fff;
}
